.env
memory/vocab.md
logs
archive
patterns/*
!patterns/translate_cn
!patterns/comment_cn_trans
!patterns/improved_trans_cn
!patterns/translate_en
!patterns/comment_en_trans
!patterns/improved_trans_en
!patterns/correct_cn_audio_transcription
!patterns/comment_cn_audio_transcription
!patterns/improve_transcription_wsy_cn
config/*
!config/translation_to_cn_config.yaml
!config/translation_to_en_config.yaml
!config/polish_cn_audio_transcription_config.yaml
!config/literature_review_exa_config.yaml
replace_model_in_yaml.py
zip_config_patterns.py
addons.zip